<div class="sidebar">
    <div class="nav">

        <div class="logo mb-5">
            <a  routerLink=""  routerLinkActive="hovered" [routerLinkActiveOptions]="{exact:true}">


                <img src="LogoMelie.png" alt="" width="100">
            </a>
        </div>
        <ul>
            <li>
              <a routerLink="meilisearch"  routerLinkActive="hovered" [routerLinkActiveOptions]="{exact:true}">
                <span class="icon"><i class="fas fa-tachometer-alt"></i></span> <!-- Dashboard icon -->
                <span class="title">Meilisearch</span>
              </a>
            </li>

            <li>
                <a routerLink="source" routerLinkActive="hovered"  [routerLinkActiveOptions]="{exact:true}">
                  <span class="icon"><i class="fas fa-envelope"></i></span> <!-- Messages icon -->
                  <span class="title">Source</span>
                </a>
              </li>
        
            <li>
              <a routerLink="sync" routerLinkActive="hovered" [routerLinkActiveOptions]="{exact:true}">
                <span class="icon"><i class="fas fa-users"></i></span> <!-- Customers icon -->
                <span class="title">Asyn</span>
              </a>
            </li>

            <li>
                <a routerLink="user" routerLinkActive="hovered" [routerLinkActiveOptions]="{exact:true}">
                  <span class="icon"><i class="fas fa-users"></i></span> <!-- Customers icon -->
                  <span class="title">User</span>
                </a>
              </li>
  
      
        
            <li>
              <a routerLink="" routerLinkActive="hovered" [routerLinkActiveOptions]="{exact:true}">
                <span class="icon"><i class="fas fa-sign-out-alt"></i></span> 
                <span class="title">Sign Out</span>
              </a>
            </li>
          </ul>

    </div>
    
</div>