.sidebar {
  width: 228px;
  height: 100vh;
  position: relative;
  transition: width 0.8s ease; 
  border-radius: 15px;



}
.nav {
  position: fixed;
  background-color: var(--pink);
  width: 200px;
  height: 100vh;
  padding: 0;
  overflow: hidden;
  padding: 20px 0 20px 0;
  transition: width 0.8s ease;
  display: flex;
  align-items: center;
  box-shadow: 20px 0px 1px #cb59cd33;
  border-radius: 0 21px 12px 0;
  border-collapse: collapse;

}

.nav ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav ul li {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  padding-left: 20px;
  transition: 1s ease-in margin;


}

.nav.collapsed ul li {
  margin-bottom: 40px;
  position: relative;
  width: 100%;
  padding-left: 10px;
  transition: 1s ease-in margin;



}

.nav ul li a {
  position: relative;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
  align-items: center;
  transition: .05s color ease-in;
  text-wrap:nowrap;
}

.nav ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  transition: all 0.8s ease;

}
.nav.collapsed ul li a .icon {
  min-width: 30px;

  transition: all 1s ease-in;

}
.nav ul li a.hovered {
    background-color: var(--white);
    list-style: none;
    color: var(--pink);

}
.nav.collapsed ul li a .icon{
  margin: 0 30px 0 13px;
  transition: all 1s ease-out;
}
.nav ul li a .collapsedTitle{
  opacity: 0;

}
.nav.collapsed ul li a .collapsedTitle{
  position: absolute;
  top: -37px;
  left: 2px;
  background: #EFEFF0;
   padding: 2px; 
  font-size: 10px;
  width: 60px;
  padding: 5px ;
  font-weight: 400;
  color: #0c0d19;
  opacity: 0;
  text-align: center;

  transition: 1s opacity ease-in-out;

}
.nav.collapsed ul li a .collapsedTitle::after{
  content: "";
  position: absolute;
  bottom: -18px;
  left: 35%;

  border: transparent;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #EFEFF0;
}

.nav.collapsed ul li:hover  a .collapsedTitle{
  opacity: 1;
  transition: 1s opacity ease-in-out;
}
.nav ul li a:hover:not(.hovered){
  background-color: #ffffff3a;
  transition: .8s background-color ease-in-out;
  
  
}
.nav ul li a.hovered .icon img{
  background: var(--pink);
  padding: 04px;
  border-radius: 5px;
}

.collapsed{
  width: 74px !important;
  transition: width 0.8s ease;

}

.sidebar.collapsed{
  width: 98px !important;
  transition: .8s ease-in width;
}
.arrow {
  transition: transform 0.3s ease; 
  z-index: 447;
  border-radius: 69px;
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 9px !important;
  top: 9px;
  right: 9px;
  background: rgb(242, 145, 224);

  background: linear-gradient(90deg, rgb(247, 133, 226) 0%, hsla(275, 19%, 88%, 1) 100%);
  
  
  
}

.fa-arrow-right {
  transition: transform 0.3s ease; 
  color: #fff;
  font-size: 18px !important;
}

.arrow i.fa-rotate-180 {
  transform: rotate(180deg);
}