<div class="sidebar" [ngClass]="{'collapsed': isCollapsed}">



  <div class="nav" [ngClass]="{'collapsed': isCollapsed}">

    <div class="arrow position-absolute p-3 " (click)="toggleSidebar()">
      <i class="fa-solid fa-arrow-right fs-3 " [ngClass]="{'fa-rotate-180': !isCollapsed}"></i>
      <!-- <img src="left-arrow 2.png" alt=""  [ngClass]="{'fa-rotate-180': !isCollapsed}"> -->
  
    </div>

    <ul>
      <li>
        <a routerLink="meilisearch" routerLinkActive="hovered" [routerLinkActiveOptions]="{exact:true}">
          <span class="icon"><img src="Union.svg" alt=""></span> <!-- Dashboard icon -->
          <span class="title">Meilisearch</span>
          <span class="collapsedTitle">Meilisearch</span>

        </a>
      </li>

      <li>
        <a routerLink="source" routerLinkActive="hovered" [routerLinkActiveOptions]="{exact:true}">
          <span class="icon"><img src="wallet.svg" alt=""></span> <!-- Messages icon -->
          <span class="title">Source</span>
          <span class="collapsedTitle">Source</span>

        </a>
      </li>

      <li>
        <a routerLink="sync" routerLinkActive="hovered" [routerLinkActiveOptions]="{exact:true}">
          <span class="icon"><img src="Transaction.svg" alt=""></span> <!-- Customers icon -->
          <span class="title">Asyn</span>
          <span class="collapsedTitle">Asyn</span>

        </a>
      </li>

      <li>
        <a routerLink="setting" routerLinkActive="hovered" [routerLinkActiveOptions]="{exact:true}">
          <span class="icon"><i class="fa fa-gear" aria-hidden="true"></i></span> <!-- Customers icon -->
          <span class="title">Setting</span>
          <span class="collapsedTitle">Setting</span>

        </a>
      </li>




    </ul>

  </div>

</div>