.sidebar {
  width: 300px;
  height: 100vh;
  position: relative;
  transition: width 0.8s ease; 

}
.nav {
  position: fixed;
  background-color: var(--pink);
  width: 300px;
  height: 100vh;
  /* margin: 30px; */
  display: flex;
  align-items: self-end;
  padding: 0;
  flex-direction: column;
  overflow: hidden;
  padding: 20px 0 20px 0;
  transition: width 0.8s ease; 

}
.nav .logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.nav ul {
  width: 80%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav ul li {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.nav ul li a {
  position: relative;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
  align-items: center;
  padding-left: 15px;
  transition: .05s color ease-in;
}

.nav ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.nav ul li a.hovered {
    background-color: var(--white);
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    color: var(--pink);

}
.nav ul li a.hovered::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.nav ul li a.hovered::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}
.collapsed{
  width: 92px !important;
  transition: width 0.8s ease;

}

.arrow {
  transition: transform 0.3s ease; 
  z-index: 447;
  border-radius: 69px;
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 9px !important;
  top: 9px;
  right: 9px;
  background: rgb(242, 145, 224);

  background: linear-gradient(90deg, rgb(247, 133, 226) 0%, hsla(275, 19%, 88%, 1) 100%);
  
  background: -moz-linear-gradient(90deg, rgb(253, 142, 233) 0%, hsla(275, 19%, 88%, 1) 100%);
  
  background: -webkit-linear-gradient(90deg, rgb(234, 72, 205) 0%, hsla(275, 19%, 88%, 1) 100%);
  
}

.fa-arrow-right {
  transition: transform 0.3s ease; 
  color: #fff;
  font-size: 18px !important;
}

.arrow i.fa-rotate-180 {
  transform: rotate(180deg);
}