<div class="login ">
    <form class="rightSide w-50  ms-4" >
      <p>Welcome Back, Please login to your account </p>
  
  
      <div class="mt-5">
        <label for="email" class="form-label fw-medium ms-1">Email</label>
        <input type="email" class="form-control py-2" id="email" placeholder="Enter Your Email ">
      </div>
  
      <div class="mt-4 mb-5">
        <label for="password" class="form-label fw-medium ms-1">Password</label>
        <div class="position-relative passInput">
          <input type="password" class="form-control" id="password" placeholder="Enter Your Password">
          <i class="fa-solid fa-eye  position-absolute "></i>
        </div>
  
      </div>
  
      <button class="btn ">Sign In</button>
  
  
  
    </form>
  
    <div class="leftSide">
      <div class="toponeleft "></div>
      <div class="bottomleft"></div>
  
    </div>
  
  
  </div>