.login {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 20px 50px;
  }
  .login form {
    padding: 20px 50px;
    width: 550px !important;
  }
  .login form p {
    color: rgba(187, 162, 188, 1);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
  }
  .login form input{
      width: 422px;
      height: 56px;
      padding: 16px !important;
      border-radius: 8px ;
      border: 1px solid rgba(212, 114, 207, 1)  ;
      margin-top: 10px;
      color: #d322c1;
  }
  .login form .passInput i{
      right: 45px;
      top: 20px;
  
  }
  
  .login form .btn{
  
      padding: 10px 26px;
      background: rgba(204, 89, 205, 1);
      color: #fff;
      border-radius: 8px ;
      width: 94% ;
      display: block;
  }
  
  
  
  
  
  
  
  
  // Left Side
  .leftSide {
    width: 800px;
    background: rgba(211, 112, 201, 0.85);
    height: 100vh;
    position: fixed;
    top: 0;
    right: -350px;
    border-radius: 50%;
  }
  
  .toponeleft {
    width: 650px;
    background: rgba(204, 89, 205, 1);
    padding: 20px 20px 20px 20px;
    height: 90vh;
    position: fixed;
    top: 40px;
    right: -280px;
    border-radius: 50%;
  }
  .bottomleft {
    width: 550px;
    background: linear-gradient(180deg, #6d1263 28%, #d322c1 72.5%);
    padding: 20px 20px 20px 20px;
    height: 80vh;
    position: fixed;
    top: 70px;
    right: -260px;
    border-radius: 50%;
  }
  